*{
    margin: 0px;
    padding: 0px;
  }
.group-child {
    position: absolute;
    top: 63.9px;
    left: -0.5px;
    border-top: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 1013.1px;
    height: 1px;
}
.full-name, .type-your-name {
    position: absolute;
    top: 46px;
    left: -127.9px;
    display: inline-block;
    width: 404px;
    height: 26.1px;
    font-size: 35px;
}
.type-your-name {
    top: 105.3px;
    left: -129.4px;
    font-size: 20px;
    width: 625.3px;
    opacity: 0.5;
    height: 68px;
    border-radius: 8px;
}
  .line-parent {
    position: absolute;
    top: 214px;
    left: 207.3px;
    width: 1012.1px;
    height: 64.4px;
  }
  .detail-of-patient-child,
  .detail-of-patient-item {
    position: absolute;
    top: 454.5px;
    left: 210.5px;
    border-top: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 1013px;
    height: 1px;
  }
  .detail-of-patient-item {
    top: 367.5px;
    left: 209.5px;
  }
  .area, .phone, .type-area, .type-phone-number {
    position: absolute;
    top: 551px;
    left: 87px;
    display: inline-block;
    width: 240px;
    height: 30px;
    font-size: 35px;
}
  .area, .type-area, .type-phone-number {
    top: 403px;
    left: 79.1px;
    width: 185px;
    height: 29px;
    font-size: 35px;
}
.type-area, .type-phone-number {
    top: 610px;
    left: 76.6px;
    font-size: 20px;
    width: 625.3px;
    opacity: 0.5;
    height: 68px;
    border-radius: 8px;
}
  .type-area {
    top: 461.3px;
    left: 76.6px;
    font-size: 20px;
    width: 625.3px;
    opacity: 0.5;
    height: 68px;
    border-radius: 8px;
}
.mask-group-icon {
    position: absolute;
    top: 291.4px;
    left: 778.9px;
    width: 694.6px;
    height: 312px;
    object-fit: contain;
}
.detail-of-patient-inner {
    position: absolute;
    top: 588px;
    left: 658px;
    border-radius: 8px;
    width: 949px;
    height: 118px;
}
  .add-patients-location,

.save{
  position: absolute;
  top: 624px;
  left: 1092px;
  font-size: 36px;
  display: inline-block;
  width: 90px;
  height: 40px;
  color: white;
  background: transparent;
  border: none;
  font-weight: bold;
}
.save a {
text-decoration: none;
color: white;
font-size: 40px;
}
  .add-patients-location {
    top: 266px;
    left: 778px;
    font-weight: bold;
    width: 430px;
    height: 26px;
    font-size: 35px;
}
  .rectangle-icon {
    position: absolute;
    top: -69px;
    left: 0;
    width:100%;
    height: 361px;
  }
  .detail-of-patient1 {
    position: absolute;
    top: 18px;
    left: 1003px;
    font-size: 67px;
    color: white;
    text-align: center;
    font-weight: bolder;
}
  .detail-of-patient {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #ae8371, rgba(217, 24, 24, 0.16));
    height: 729px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-lexend);
  }
  .btn1{
    display: block;
    position: absolute;
    top: 17px;
    background: transparent;
    border: none;
    left: 17px;
  }
  .btn1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .loco {
    position: absolute;
    height: 6.71%;
    width: 3.64%;
    top: 36.3%;
    right: 67.29%;
    bottom: 27.15%;
    left: 79.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    border-radius: 32px;
}